@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'scss/variables';

.creation-view-controls-labels {
  padding: 0 0.3125rem 1.125rem 0;
}

.clusterSelector-container {
  position: relative;

  // Cluster label checkbox
  .clusterSelector-checkbox {
    font-weight: 600;
  }

  // Cluster label description
  .labels-descr {
    font-size: 14px;
    margin-bottom: 30px;
  }

  // Cluster label section
  .labels-section {
    display: block;
  }

  .matching-labels-container {
    display: flex;
    margin-bottom: 20px;
  }

  .matching-labels-input {
    max-width: 45%;
    margin-right: 10px;
    overflow: hidden;
  }

  .text-input {
    background-color: $acm_background_color;
  }

  .add-label-btn {
    width: 190px;
    height: 40px;
    padding: 13px;
    text-align: center;
    cursor: pointer;
  }

  .btn-disabled {
    cursor: not-allowed !important;
  }

  .add-label-btn-icon {
    margin-left: 7px;
    float: left;
  }

  .add-label-btn-text {
    font-weight: 600;
    font-size: 14px;
    color: #3d70b2;
  }

  .remove-label-btn {
    padding: 12px 5px;
    cursor: pointer;
  }
}

.shared-resource-warning {
  display: inline-flex;
  color: $color__blue-90;
  line-height: 2rem;

  svg {
    fill: #e6ae3c;
    width: 18px;
    height: 18px;
  }

  p {
    font-size: 14px;
  }

  p:first-of-type {
    margin-bottom: 0.5rem;
  }

  div:first-of-type {
    margin-right: 5px;
  }
}

.timeWindow-container {
  position: relative;

  // Active/Block mode btns
  .timeWindow-mode-container {
    display: inline-grid;
    margin-bottom: 10px;
  }

  .mode-btn {
    margin: 5px 0;
  }

  .btn-disabled {
    cursor: not-allowed;
  }
}
