@import "./control-panel-cards.scss";
@import "./control-panel-controls.scss";
@import "./control-panel-finish.scss";

$color__blue-51: #3d70b2 !default;
$color__navy-gray-6: #5a6872 !default;
$color__navy-gray-8: #dfe6eb !default;
$acm_background_color: #f0f0f0 !default;

@keyframes flash {
  0% {
    outline-color: #7fffd4;
  }
}

.loading-control {
  display: flex;
  justify-content: left;
}

.temptifly,
.creation-view {
  .creation-view-portals {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > div {
      margin-right: 25px;
    }
  }

  .creation-view-controls {
    display: flex;
    flex-direction: column;

    div:focus {
      outline: none;
    }
  }

  .creation-view-controls-section {
    max-height: 10000px;
    transition: max-height 0.3s;

    &.collapsed {
      overflow: hidden;
      max-height: 0;
    }

    &.shadowed {
      border: 1px solid #dfe0e3;
      background: white;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      padding: 20px;

      .pf-c-form-control {
        background-color: #f4f7fb;
      }

      &.collapsed {
        overflow: hidden;
        max-height: 0;
        border: none;
        padding: 0;
      }
    }
  }

  .creation-view-controls-section.collapsed {
    overflow: hidden;
    max-height: 0;
  }

  .pf-c-wizard__footer {
    box-shadow: rgba(3, 3, 3, 0.16) 0px -2px 4px -1px;
  }

  .pf-c-skeleton {
    height: 40px;
    background-color: #e0e0e0;
  }

  .pf-c-form-control.disabled,
  .pf-c-form-control:disabled {
    background-color: #e0e0e0;
  }

  .pf-c-form-control {
    &.input {
      padding: 0;
    }

    .pf-c-combo-control {
      width: 90%;
      height: 100%;
      border: none;
      text-overflow: ellipsis;
      padding-left: 6px;
    }
  }

  .pf-c-alert {
    h4 {
      margin: 0;
    }
  }

  &-controls {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &-note {
      cursor: default;
      display: flex;
      padding-bottom: 2rem;
      font-size: 0.875rem;
      font-weight: 400;
    }

    &-must-exist {
      padding-top: 3px;
      margin-left: 0.25rem;
    }

    .info-icon {
      margin-left: 0.375rem;
      width: 1rem;
      height: 1rem;
      fill: $color__blue-51;
      stroke: none;
      cursor: pointer;
    }

    &-title {
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin: 0 10px;
        background: #25282c;
        border: 3px solid #25282c;
        color: #fff;
        font-size: 20px;
      }

      &-main {
        color: #004080;
        font-weight: normal;
        font-size: 16px;
        padding: 16px 0;
        display: flex;
        align-items: center;
        position: relative;
        line-height: 28px;

        &.subtitle {
          color: $color__navy-gray-6;
          font-size: 16px;
        }

        &-collapse-button {
          display: flex;

          > svg {
            margin: 0 6px;
            width: 16px;
            height: 16px;
            fill: #151515;
            transition: all 100ms;
            transform: rotate(90deg);
          }
        }

        &-name {
          height: 32px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: hidden;
        }

        &-summary {
          padding-left: 30px;
          font-weight: 400;
          visibility: hidden;

          &.visible {
            visibility: visible;
          }

          .tag {
            cursor: default;
            font-size: 12px;
            margin-right: 10px;
            color: #596a73;
            background-color: #e3e7e9;
          }
        }
      }

      &-normal-container {
        display: flex;
        align-items: center;
      }

      &-normal {
        color: $color__navy-gray-6;
        font-weight: normal;
        font-size: 12px;
        padding: 0 0 8px;
      }

      &.collapsed {
        .creation-view-controls-title-normal-container {
          display: none;
        }

        .creation-view-controls-title-main {
          &-collapse-button {
            > svg {
              transform: rotate(0);
            }
          }

          &-name {
            text-overflow: ellipsis;
          }

          &-summary {
            visibility: visible;
          }
        }
      }
    }

    &-singleselect,
    &-combobox,
    &-treeselect {
      &-loading {
        position: relative;
        background-color: white;
        padding: 5px 8px 5px 30px;
        height: 36px;
        border-bottom: 1px solid #8a8d90;

        .pf-c-spinner {
          position: absolute;
          top: 6px;
          left: 4px;
        }
      }

      .tf--list-box {
        position: relative;
        box-shadow: 0 1px 0 0 #5a6872;
        cursor: pointer;

        .tf--list-box__selection {
          position: absolute;
          top: 0;
          bottom: 0;
          height: 100%;
          right: 1.625rem;
          padding: 0 1rem;
          cursor: pointer;

          svg {
            height: 100%;
          }
        }

        .tf--list-box__menu-icon {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0 18px;
          height: 100%;
          cursor: pointer;

          svg {
            height: 100%;
          }
        }
        .tf--list-box__menu-icon--open {
          transform: rotate(180deg);
        }
        .tf--list-box__refresh-icon {
          position: absolute;
          top: 0;
          right: 40px;
          padding: 0 4px;
          height: 100%;
          cursor: pointer;

          svg {
            height: 100%;
          }
        }

        .tf--list-box__menu {
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
          position: absolute;
          left: 0;
          right: 0;
          top: 2.5rem;
          width: 100%;
          overflow-y: auto;
          background-color: #fff;
          max-height: 14rem;
          z-index: 500;
          cursor: pointer;

          .tf--list-box__menu-item-container {
            display: flex;
            flex-direction: column;
            margin: 8px 0;
          }

          .tf--list-box__menu-item-title {
            font-weight: bold;
            line-height: 12px;
            font-size: 18px;
          }

          .tf--list-box__menu-item {
            display: flex;
            align-items: center;
            height: fit-content;
            padding: 0 1rem;
            cursor: pointer;
            position: relative;
            white-space: nowrap;

            &:hover {
              background-color: rgba(85, 150, 230, 0.1);
              outline: 1px solid transparent;
            }

            b {
              color: black;
              font-weight: bold;
              font-size: 16px;
              text-indent: 0px;
            }

            &.tf--list-box__menu-branch {
              font-weight: 700;
            }

            .tf-select__menu-item-icon {
              position: absolute;
              right: 10px;
              color: #06c;
              font-size: 10px;
            }
          }
        }
      }
    }

    &-add-value-container {
      display: flex;
      margin: 20px 0 24px 20px;

      &.bottom-right {
        justify-content: flex-end;
        margin: 0 24px 24px;
      }

      a {
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
      }
    }

    &-add-value {
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      color: $color__blue-51;

      &:focus {
        outline: none;
      }
    }

    &-add-button {
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      color: $color__blue-51;
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      svg {
        margin: 0 6px;
        width: 16px;
        height: 16px;
        fill: $color__blue-51;
      }

      &:focus {
        outline: none;
      }
    }

    &-delete-button {
      cursor: pointer;
      color: $color__blue-51;
      display: flex;
      position: absolute;
      top: 8px;
      right: 5px;
      z-index: 100;

      svg {
        margin: 0 6px;
        width: 16px;
        height: 16px;
        fill: $color__blue-51;
      }

      &:focus {
        outline: none;
      }
    }

    &-add-combobox {
      margin-bottom: 8px;
      position: relative;

      .pf-c-select {
        background-color: white;
      }
    }

    &-table-container {
      margin-bottom: 20px;
      position: relative;
    }

    &-table-exceptions {
      color: red;
      font-size: 12px;
    }

    &-table-delete-button {
      cursor: pointer;
      color: $color__blue-51;
      display: flex;

      .icon {
        margin: 0 6px;
        width: 16px;
        height: 16px;
        fill: $color__blue-51;
      }

      &:focus {
        outline: none;
      }
    }

    &-table {
      .pf-c-toolbar__content-section {
        justify-content: space-between;
      }

      .pf-c-table tr > * {
        padding: 14px;
      }

      .tf-table-button-container {
        display: flex;
        > div {
          padding: 10px;
        }
      }

      &-singleselect {
        padding: 0;
        min-width: 100px;
      }

      &-toggle {
        display: flex;
        align-items: center;
      }

      @keyframes fadeIt {
        0% {
          background-color: #eef4fc;
        }

        100% {
          background-color: #ffffff;
        }
      }

      .new-row {
        animation: fadeIt 10s ease-out;
      }
    }

    &-labels {
      padding: 0 0.3125rem 1.5625rem 2px;

      &-title {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 0.875rem;
        padding-bottom: 0.5rem;
      }

      &-container {
        min-height: 40px;
        background-color: white;
        box-shadow: 0 1px 0 0 #5a6872;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
      }

      &-tag-container {
        padding: 6px 0 0 7px;

        .pf-c-label {
          margin-right: 5px;
        }
      }

      &-edit-container {
        position: relative;
        width: 100%;

        input {
          border: none;
        }
      }
    }

    &-textbox,
    &-multiselect,
    &-singleselect,
    &-combobox,
    &-treeselect,
    &-select,
    &-textarea,
    &-number,
    &-cards,
    &-skeleton {
      padding: 0 0.3125rem 1.5625rem 2px;

      &-title {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 0.875rem;
        padding-bottom: 0.5rem;
      }

      .pf-c-select {
        background-color: white;

        .pf-c-select__menu {
          padding-left: 0;
          margin-left: 0;
        }
      }
    }

    &-treeselect {
      .tf--list-box__menu-branch {
        font-weight: bold;
        text-decoration: none;

        &:before {
          padding-right: 2px;
          font-family: codicon;
          content: "\eab4";
        }

        &.open:before {
          content: "\eab7";
        }

        &.searching {
          color: gray;
          font-weight: normal;
        }
      }
    }

    &-checkbox {
      padding: 0 0.3125rem 1.125rem 0;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 0.875rem;
      position: relative;

      .pf-c-form__group-label {
        padding: 0;
      }

      .pf-c-check__input {
        margin-right: 6px;
      }
    }

    .creation-view-group-container {
      position: relative;
      border: 1px solid #dfe0e3;
      background: white;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      padding: 10px;
      margin: 10px 0;

      .creation-view-controls-title {
        margin-bottom: 16px;

        &.collapsed {
          margin-bottom: 0px;
        }
      }

      .pf-c-select__toggle,
      .pf-c-form-control {
        // background-color: $acm_background_color;

        .pf-c-badge.pf-m-read {
          background-color: darkgray;
        }
      }

      .creation-view-controls-title-main-collapse-button {
        position: relative;
        left: unset;

        &.collapsed {
          > svg {
            transform: rotate(-180deg);
          }
        }
      }

      .techPreviewTag {
        // Tech preview container
        width: 88px;
        height: 26px;
        display: inline-block;
        background-color: #d93f00;
        border-radius: 3px;
        padding: 5px 0;
        margin-left: 16px;

        // Tech preview text
        color: #ffffff;
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        text-align: center;
      }

      .tf--create-cluster-page__provider-card {
        background-color: $acm_background_color;
        border: 1px solid #dfe3e6;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    .tf--grid-container {
      .tf--provider-card-container {
        position: relative;

        .card-checkmark {
          pointer-events: none;
          position: absolute;
          top: 8px;
          right: 8px;
          fill: blue;
        }
      }

      .tf--create-cluster-page__provider-card {
        &-isDisabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }

      .tf--provider-card-isDisabled {
        pointer-events: none;
        opacity: 0.5;
      }

      .card-tooltip-container {
        position: absolute;
        right: 8px;
        top: 8px;
      }
    }

    &.showEditor {
      .creation-view-controls-card-container {
        margin-bottom: 20px;
      }
    }

    &.showEditor,
    .tf--grid-container {
      .tf--grid {
        margin-right: 2%;
        width: 100%;

        .creation-view-controls-cards-title-container {
          cursor: pointer;
          display: flex;
        }
      }

      .tf--provider-card {
        margin: 10px 16px 0 0;

        .tf--provider-card-container {
          width: 250px;

          .tf--create-cluster-page__provider-card-isSelected::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            pointer-events: none;
            content: "";
            border: 2px solid #06c;
            border-radius: 4px;
          }

          .tf--create-cluster-page__provider-card {
            width: 250px;
            height: 136px;
            margin: 0 10px 10px 0;
            display: flex;
            flex-direction: column;
            background-color: white;
            &:hover {
              color: #06c;
              border: 1px solid #06c;
            }

            & > * {
              flex: 2 1 auto;
              display: flex;
              justify-content: center;

              > img,
              > svg {
                margin-top: 24px;
                width: 55px;
                height: 55px;
              }
            }
          }
        }
      }
    }

    .tf--grid-container.small {
      .tf--provider-card {
        .tf--provider-card-container {
          width: 250px;

          .tf--create-cluster-page__provider-card {
            width: 250px;
            height: 136px;
          }
        }
      }
    }
  }
}
