.temptifly,
.creation-view {
  .pf-c-input-group {
    max-width: 200px;
  }

  .pf-c-number-input {
    width: 180px;
    .pf-c-form-control {
      text-align: right;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    text-align: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}
