@import "node_modules/carbon-components/scss/globals/scss/_colors";
@import "./control-panel-cards.scss";

$acm_background_color: #f0f0f0 !default;
$control-max-width-with-editor: 600px !default;
$control-max-width-without-editor: 600px !default;

@keyframes flash {
  0% {
    outline-color: #7fffd4;
  }
}

.loading-control {
  display: flex;
  justify-content: left;
}

.bx--tooltip,
.bx--tooltip .bx--tooltip__caret {
  color: white;
  background-color: black;
}

.creation-view {
  .bx--tooltip__trigger {
    margin-left: 10px;
  }

  .creation-view-portals {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > div {
      margin-right: 25px;
    }
  }

  .creation-view-controls {
    .content {
      margin-left: 26px;
    }

    div:focus {
      outline: none;
    }
  }

  .creation-view-controls-section {
    max-height: 10000px;
    transition: max-height 0.3s;

    &.collapsed {
      overflow: hidden;
      max-height: 0;
    }

    &.shadowed {
      border: 1px solid #dfe0e3;
      background: white;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      padding: 20px;
      max-width: 700px;

      .bx--list-box__field,
      .bx--text-input,
      .bx--list-box,
      .bx--search-input {
        background-color: #f4f7fb;
      }

      &.collapsed {
        overflow: hidden;
        max-height: 0;
        border: none;
        padding: 0;
      }
    }
  }

  .creation-view-controls-section.collapsed {
    overflow: hidden;
    max-height: 0;
  }

  .bx--tooltip--icon__top:focus {
    box-shadow: none;
    outline: none;
    border: none;

    .info-icon {
      box-shadow: 0 0 0 3px #7cc7ff;
      outline: 0.0625rem solid transparent;
      border: none;
    }
  }

  .bx--inline-notification {
    cursor: pointer;
  }

  .bx--tooltip--icon__top:after,
  .bx--tooltip--icon__bottom:after {
    white-space: normal;
    width: 22rem;
    z-index: 2000;
    margin-left: 5.8rem;
  }

  &-controls {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &-note {
      cursor: default;
      display: flex;
      padding-bottom: 2rem;
      font-size: 0.875rem;
      font-weight: 400;
    }

    &-must-exist {
      padding-top: 3px;
      margin-left: 0.25rem;
    }

    .info-icon {
      margin-left: 0.375rem;
      width: 1rem;
      height: 1rem;
      fill: $color__blue-51;
      stroke: none;
      cursor: pointer;
    }

    &-title {
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin: 0 10px;
        background: #25282c;
        border: 3px solid #25282c;
        color: #fff;
        font-size: 20px;
      }

      &-main {
        font-weight: 600;
        font-size: 18px;
        padding: 16px 0;
        display: flex;
        align-items: center;
        position: relative;

        &.subtitle {
          color: $color__navy-gray-6;
          font-size: 16px;
        }

        &-collapse-button {
          display: flex;
          position: absolute;
          left: -24px;

          > svg {
            margin: 0 6px;
            width: 12px;
            height: 12px;
            fill: #8c9fa9;
            transition: all 100ms;
          }
        }

        &-name {
          height: 26px;
          white-space: nowrap;
          max-width: 600px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &-summary {
          padding-left: 30px;
          font-weight: 400;
          visibility: hidden;

          &.visible {
            visibility: visible;
          }

          .tag {
            cursor: default;
            font-size: 12px;
            margin-right: 10px;
            color: #596a73;
            background-color: #e3e7e9;
          }
        }
      }

      &-normal-container {
        display: flex;
        align-items: center;
      }

      &-normal {
        color: $color__navy-gray-6;
        font-weight: normal;
        font-size: 12px;
        padding: 0 0 8px;
      }

      &.overline {
        border-top: 1px solid $color__navy-gray-8;
        margin-bottom: 16px;
      }

      &.collapsed {
        &.overline {
          margin-bottom: 0;
        }

        .creation-view-controls-title-normal-container {
          display: none;
        }

        .creation-view-controls-title-main {
          &-collapse-button {
            > svg {
              transform: rotate(-180deg);
            }
          }

          &-summary {
            visibility: visible;
          }
        }
      }
    }

    &-singleselect,
    &-treeselect {
      &-loading {
        position: relative;

        .bx--inline-loading {
          position: absolute;
          top: 4px;
          left: 4px;
        }

        .bx--dropdown-v2.bx--skeleton:before {
          animation: none;
        }
      }

      .bx--list-box {
        .bx--list-box__field {
          span.bx--list-box__label {
            color: $color__navy-gray-6;
            text-overflow: ellipsis;
          }
        }

        .bx--text-input::placeholder {
          color: $color__navy-gray-6;
        }
      }

      .bx--list-box__menu-item {
        white-space: pre;

        .bx--text-input {
          cursor: pointer !important;
        }

        b {
          color: black;
          font-weight: bold;
          font-size: 14px;
          text-indent: 0px;
        }
      }
    }

    &-textarea {
      .bx--form-item {
        textarea {
          background-color: white;
        }
      }
    }

    .bx--list-box input[role="combobox"] {
      font-weight: 400;
      cursor: pointer;

      &:focus {
        cursor: text;
      }

      &:disabled {
        cursor: not-allowed;
      }

      &:disabled + .bx--list-box__selection {
        cursor: not-allowed;
        pointer-events: none;
      }
    }

    &-add-value-container {
      display: flex;
      max-width: 600px;
      margin: 20px 0 24px 20px;

      &.bottom-right {
        justify-content: flex-end;
        margin: 0 0 24px;
      }

      a {
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
      }
    }

    &-add-value {
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      color: $color__blue-51;

      &:focus {
        outline: none;
      }
    }

    &-add-button {
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      color: $color__blue-51;
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      svg {
        margin: 0 6px;
        width: 16px;
        height: 16px;
        fill: $color__blue-51;
      }

      &:focus {
        outline: none;
      }
    }

    &-delete-button {
      cursor: pointer;
      color: $color__blue-51;
      display: flex;
      position: absolute;
      top: 8px;
      right: 5px;
      z-index: 1000;

      svg {
        margin: 0 6px;
        width: 16px;
        height: 16px;
        fill: $color__blue-51;
      }

      &:focus {
        outline: none;
      }
    }

    &-add-combobox {
      margin-bottom: 8px;
      position: relative;

      .bx--list-box {
        .bx--list-box__field {
          span.bx--list-box__label {
            color: $color__navy-gray-6;
            text-overflow: ellipsis;
          }
        }
      }

      .bx--list-box input[role="combobox"] {
        margin-left: 16px;
      }

      .bx--list-box {
        max-width: $control-max-width-without-editor;
        background-color: white;

        .bx--list-box__menu {
          max-height: 12rem;
          z-index: 500;
        }
      }
    }

    &-table-container {
      margin-bottom: 20px;
      position: relative;
    }

    &-table-exceptions {
      color: red;
      font-size: 12px;
    }

    &-table-delete-button {
      cursor: pointer;
      color: $color__blue-51;
      display: flex;

      .icon {
        margin: 0 6px;
        width: 16px;
        height: 16px;
        fill: $color__blue-51;
      }

      &:focus {
        outline: none;
      }
    }

    &-table {
      .bx--toolbar-content > div {
        & > .bx--btn {
          margin-left: 10px;
          border-radius: 3px;
          height: 24px;
          font-size: 16px;
          font-weight: 400;
          padding: 16px;
          display: inline-flex;
        }

        & > .bx--btn--primary {
          background-color: $color__white;
          color: $color__blue-51;
          border-color: $color__blue-51;
          border-width: 1px;
          margin: 2px;
          margin-right: 12px;
          &:hover,
          &:active,
          &:focus {
            background-color: unset;
            color: $color__blue-51;
            box-shadow: 0 0 0 2px $color__blue-51;
          }
        }
      }

      &-singleselect {
        padding: 0;
        min-width: 100px;

        .bx--list-box {
          box-shadow: none;
        }

        .bx--list-box__label {
          font-weight: normal;
        }

        .bx--list-box__field {
          background-color: white;
        }
      }

      &-toggle {
        display: flex;
        align-items: center;

        .bx--form-item {
          flex: unset;
          padding-right: 10px;
          min-width: 0;
        }
      }

      @keyframes fadeIt {
        0% {
          background-color: #eef4fc;
        }

        100% {
          background-color: #ffffff;
        }
      }

      .new-row {
        animation: fadeIt 10s ease-out;
      }
    }

    &-labels {
      padding: 0 0.3125rem 1.5625rem 2px;

      &-title {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 0.875rem;
        padding-bottom: 0.5rem;
      }

      &-container {
        max-width: 600px;
        min-height: 40px;
        background-color: white;
        box-shadow: 0 1px 0 0 #5a6872;
        display: flex;
        flex-wrap: wrap;
        padding: 15px 10px;

        .bx--tag.bx--tag--custom {
          color: #152935;
          background-color: #e2eaf4;
          white-space: nowrap;
          line-height: 20px;
          padding: 0.7rem;
          font-size: 0.8rem;
          margin: 0 0.2rem;

          .closeIcon {
            cursor: pointer;
            margin-left: 5px;
          }
        }

        .bx--text-input {
          height: 1.8rem;
          background-color: white;
          box-shadow: none;
        }
      }

      &-edit-container {
        position: relative;

        .closeIcon {
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 8px;
          z-index: 1000;
        }
      }
    }

    &-textbox,
    &-multiselect,
    &-singleselect,
    &-treeselect,
    &-select,
    &-textarea,
    &-number,
    &-cards,
    &-skeleton {
      padding: 0 0.3125rem 1.5625rem 2px;

      &-title {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 0.875rem;
        padding-bottom: 0.5rem;
      }

      .bx--select {
        width: 100%;
      }

      .bx--list-box__label {
        font-weight: normal;
      }

      .bx--number {
        width: 600px;

        .bx--number__controls {
          top: 1.1rem;
        }
      }

      .bx--skeleton__text {
        height: 2.4rem;
      }

      .bx--list-box__field,
      .bx--text-input,
      .bx--list-box {
        width: $control-max-width-without-editor;
        background-color: white;
      }

      .bx--list-box {
        .bx--list-box__menu {
          max-height: 14rem;
          z-index: 500;
        }
      }

      .bx--text-area {
        height: 90px;
        width: $control-max-width-without-editor;
      }

      .bx--text-input::placeholder {
        color: $color__navy-gray-6;
        text-overflow: ellipsis;
      }

      .bx--multi-select {
        .bx--list-box__menu {
          max-height: 12rem;
          animation: slideopen 200ms ease-in-out;
          z-index: 500;
        }

        &.bx--combo-box input::placeholder {
          color: $color__navy-gray-6;
          text-overflow: ellipsis;
        }

        &.bx--combo-box input[role="combobox"] {
          cursor: default;
          text-overflow: ellipsis;

          &:focus {
            cursor: text;
            box-shadow: 0 0 0 3px #7cc7ff;
            outline: 0.0625rem solid transparent;
            border: none;
          }
        }
      }
    }

    &-treeselect {
      .bx--list-box__menu-branch {
        font-weight: bold;
        text-decoration: none;

        &:before {
          padding-right: 2px;
          font-family: codicon;
          content: "\eab4";
        }

        &.open:before {
          content: "\eab7";
        }

        &.searching {
          color: gray;
          font-weight: normal;
        }
      }
    }

    &-textbox {
      .bx--text-input {
        outline: 2px solid transparent;
      }
    }

    &-textbox.flashed {
      .bx--text-input {
        animation: flash 2s ease-out;
      }
    }

    &-textarea {
      .bx--text-area {
        outline: 2px solid transparent;
      }
    }

    &-textarea.flashed {
      .bx--text-area {
        animation: flash 2s ease-out;
      }
    }

    &-checkbox {
      padding: 0 0.3125rem 1.125rem 0;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 0.875rem;
      position: relative;

      .bx--form-item {
        flex: 0;
      }
    }

    .creation-view-group-container {
      position: relative;
      max-width: 650px;
      border: 1px solid #dfe0e3;
      background: white;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      padding: 10px;
      margin: 10px 0;

      .creation-view-controls-title {
        margin-bottom: 16px;

        &.collapsed {
          margin-bottom: 0px;
        }
      }

      .bx--list-box__field,
      .bx--text-input,
      .bx--list-box,
      .bx--number input[type="number"] {
        background-color: $acm_background_color;
      }

      .creation-view-controls-title-main-collapse-button {
        position: relative;
        left: unset;

        &.collapsed {
          > svg {
            transform: rotate(-180deg);
          }
        }
      }

      .techPreviewTag {
        // Tech preview container
        width: 88px;
        height: 26px;
        display: inline-block;
        background-color: #d93f00;
        border-radius: 3px;
        padding: 5px 0;
        margin-left: 16px;

        // Tech preview text
        color: #ffffff;
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        text-align: center;
      }

      .mcx--create-cluster-page__provider-card {
        background-color: $acm_background_color;
        border: 1px solid #dfe3e6;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    .mcx--grid-container {
      .mcx--provider-card-container {
        position: relative;

        .card-checkmark {
          pointer-events: none;
          position: absolute;
          top: 8px;
          right: 8px;
          fill: blue;
        }
      }

      .mcx--create-cluster-page__provider-card {
        &-isDisabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }

      .mcx--provider-card-isDisabled {
        pointer-events: none;
        opacity: 0.5;
      }

      .card-tooltip-container {
        position: absolute;
        right: 8px;
        top: 8px;
      }
    }

    &.showEditor {
      .creation-view-controls-title {
        max-width: $control-max-width-with-editor;
      }

      .creation-view-controls-card-container {
        margin-bottom: 20px;
      }

      .creation-view-controls-add-value-container {
        max-width: 600px;
      }

      .bx--list-box__field,
      .bx--text-input,
      .bx--list-box {
        max-width: $control-max-width-with-editor;
      }

      .bx--text-area {
        max-width: $control-max-width-with-editor;
      }
    }

    &.showEditor,
    .mcx--grid-container {
      .bx--grid {
        margin-right: 2%;
        width: 100%;

        .creation-view-controls-cards-title-container {
          cursor: pointer;
          display: flex;
        }

        .mcx--providers-container.bx--row {
          max-width: 1000px;
        }
      }

      .mcx--provider-card {
        margin: 10px 16px 0 0;

        .mcx--provider-card-container {
          width: 260px;

          .mcx--create-cluster-page__provider-card-isSelected {
            border: 1px solid #3d70b2;
          }

          .mcx--create-cluster-page__provider-card {
            width: 260px;
            height: 80px;
            margin: 0 10px 10px 0;

            & > img {
              margin: 0 16px;
              height: 45px;
              width: 45px;
            }
          }

          .mcx--create-cluster-page__provider-card-title {
            font-size: 14px;
            text-align: left;
            width: 160px;
            display: flex;
            flex-direction: column;
            font-weight: bold;
          }
        }
      }
    }

    .mcx--grid-container.small {
      .bx--grid {
        .mcx--providers-container.bx--row {
          max-width: 800px;
        }
      }

      .mcx--provider-card {
        .mcx--provider-card-container {
          width: 220px;

          .mcx--create-cluster-page__provider-card {
            width: 220px;
            height: 70px;
          }
        }
      }
    }
  }
}
