.creation-view-yaml {
  &-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    background-color: #25282c;

    &-toolbar {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #55585c;
      height: 100%;
    }

    &-secrets {
      display: flex;
      align-items: center;
      height: 48px;
      margin: 0 10px;

      .bx--form-item.bx--checkbox-wrapper:first-of-type {
        margin: 0;
      }

      > div {
        white-space: nowrap;
        font-weight: normal;
      }
    }

    &-tabs {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 0.875rem;

      .tf--tabs {
        width: 100%;
        position: relative;
        min-height: 18px;
        line-height: 16px;

        .tf--tabs__nav {
          padding: 0;
          position: absolute;
          width: 100%;
          list-style: none;
          margin-left: 0;
          display: flex;

          .tf--tabs__nav-item {
            margin: 0;
            cursor: pointer;
            background: transparent;
            border: none;
            border-bottom: 2px solid #3d70b2;
            width: 140px;
            padding: 0 0 6px;
            margin-left: 0;
            outline: none;

            &:not(.tf--tabs__nav-item--selected) {
              opacity: 0.4;
              border-bottom: 2px solid white;
            }
          }

          .tf--tabs__nav-link {
            padding-left: 30px;
            color: white;
            font-weight: 100;
            opacity: 0.7;
            text-decoration: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            outline: none;
          }

          .tf--tabs__nav-item--selected .tf--tabs__nav-link {
            font-weight: bold;
            opacity: 1;
          }
        }
      }
      border-bottom: 1px solid #55585c;
      height: 30px;
    }
  }
}
