.editor-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  position: relative;

  .editor-bar-group {
    height: 100%;
    flex: auto;
    > div {
      height: 48px;
    }

    .editor-bar-title {
      white-space: nowrap;
      padding: 0 12px;
      display: flex;
      align-items: center;
    }

    .editor-bar-toolbar {
      display: flex;
      border-top: 1px solid #55585c;

      .editor-bar-section {
        display: flex;
        padding: 0 10px;
        border-left: 1px solid #55585c;
        height: 100%;
        align-items: center;

        > div {
          display: flex;
          align-items: center;
          height: 100%;
        }

        &:last-of-type {
          padding: 10px;
          margin-right: 50px;
        }
      }
    }
  }

  .editor-bar-close {
    position: absolute;
    right: 0;
    top: 0;
  }

  .editor-bar-search {
    > div {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 6px;
    }

    .bx--search--sm {
      svg.bx--search-magnifier {
        fill: gray;
      }
    }

    .pf-c-search-input {
      color: white;
      background-color: #414141;
      font-size: 0.875rem;
      height: 1.375rem;
      &:focus {
        box-shadow: none;
        border: none;
      }

      .pf-c-search-input__text {
        &::before {
          border: none;
        }
        
        .pf-c-search-input__icon {
          color: #6D736E;
        }
        
      }
      
      .pf-c-search-input__text-input {
        color: white;
        
        &::placeholder {
          color: white;
          opacity: 0.5;
        }
        &:focus {
          outline: none;
        }
      }
      
      .pf-c-search-input__clear button {
          color: white;
      }
    }
  }

  .editor-bar-button {
    padding: 0.125rem;
    cursor: pointer;
    color: #ededed;
    padding: 0 6px;

    svg {
      width: 20px;
      height: 20px;
      fill: white;
    }

    &:focus {
      box-shadow: none;
      outline: none;
      border: none;
    }

    &.disabled {
      opacity: 0.4;
      cursor: default;
    }

    &.failure {
      cursor: default;
      fill: #e0182d;
    }

    &.restore {
      color: #c6c6c6;
    }

    &.close {
      border-left: 1px solid #55585c;
      padding: 16px;
      height: 48px;
    }
  }

  .editor-error-button {
    fill: #e0182d;
  }

  .editor-bar-spacer {
    width: 1rem;
    height: 1rem;
  }

  .bx--overflow-menu {
    height: 1.375rem;

    &:focus,
    &.bx--overflow-menu--open {
      box-shadow: 0 0 0 3px #7cc7ff;
      outline: 0.0625rem solid transparent;
      border: none;
    }
  }
}

.editor-error-button-item {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.25rem;
  width: 100%;
  max-width: none;

  .item-container {
    display: flex;

    .item-icon {
      fill: #e0182d;
      padding-right: 0.5rem;
    }
  }
}
