@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'variables';


.creation-view-yaml {

  &-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    background-color: #25282C;

    &-toolbar {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #55585C;
      height: 100%;
    }

    &-secrets {
      display: flex;
      align-items: center;
      height: 48px;
      margin: 0 10px;
      
      .bx--form-item.bx--checkbox-wrapper:first-of-type {
        margin: 0;
      }
      
      > div {
        white-space: nowrap;
        font-weight: normal;
      }
    }

    &-tabs {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 0.875rem;

      .bx--tabs {
        min-height: 16px;
        a:focus {
          box-shadow: none;
        }

        .bx--tabs__nav-item {
          width: 140px;
          padding: 0 0 6px 0;
          margin-left: 0;
          
          &:not(.bx--tabs__nav-item--selected) {
            opacity: .4;
            border-bottom: 2px solid white;
          }
        }
      
        .bx--tabs__nav-link {
          padding-left: 30px;
          color: white;
          font-weight: 100;
          opacity: .7;
        }
                   
        .bx--tabs__nav-item--selected .bx--tabs__nav-link  {
          font-weight: bold;
          opacity: 1;
        }
      
      }
      border-bottom: 1px solid #55585C;
      height: 30px;
    }
  }
}
