.edit-button {
  cursor: pointer;
  margin-left: 30px;
  font-size: 12px;

  .icon {
    margin: 0 6px;
    width: 9px;
    height: 9px;
  }
}

.edit-template-switch {
  display: flex;
  margin-left: 16px;
  align-items: center;

  .switch-label {
    margin-left: 8px;
    font-size: 12px;
  }
}
